<div class="content" role="main">
    <div id="chat-screen">
		<header id="chat-title">
			<h2>Atendimento on-line</h2>
		</header>

		<div class="messages-list" id="messages-list">

			<div class="message-wrapper" *ngFor="let message of messages">
				<div class="message-item" [ngClass]="message.sender === SELF_SENDER ? 'message-user' : ''">
					<div class="message-sender"><strong>{{message.sender}} diz:</strong></div>
					<div class="message-chat">{{message.content}}</div>
				</div>
			</div>

		</div>

		<form id="form-chat-send">
			<div class="form-input-wrapper">
				<input id="message-input" name="message-input" type="text" [(ngModel)]="inputValue" placeholder="Digite sua mensagem..." />
			</div>
			<button (click)="addMessage()">Enviar</button>
		</form>
	</div>

</div>
