/*
 * REGRAS GERAL DE RESET
 */
.content {
    --primary: green;
    --primary-darker: #006000;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

/* prettier-ignore */
*,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* prettier-ignore */
.content,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

/* prettier-ignore */
ol,
  ul {
    list-style: none;
  }

img {
    max-width: 100%;
    height: auto;
}

/*
   * O SEU ESTILO CSS DESTE EXERCÍCIO PODE VIR DESTA LINHA PARA BAIXO
   **/
#chat-screen {
    border: 1px solid var(--primary);
    max-width: 720px;
    margin: 12px auto;
}

#chat-title {
    border-bottom: 1px solid var(--primary);
    padding: 5px 2px;
}

.messages-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--primary);
    max-height: 80vh;
    height: 80vh;
    overflow-y: scroll;
}

.message-wrapper {
    padding: 5px 0;
    width: auto;
}

.message-item {
    display: inline-block;
    padding: 5px 0;
    width: auto;
    max-width: 50%;
}

.message-user {
    text-align: right;
    float: right;
}

.message-chat {
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 3px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
}

#form-chat-send {
    padding: 5px;
    display: table;
}

.form-input-wrapper {
    width: 100%;
    display: table-cell;
    padding-right: 5px;
}

.form-input-wrapper input {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary);
}

#form-chat-send button {
    width: auto;
    background-color: var(--primary);
    border-radius: 3px;
    border: 1px solid var(--primary-darker);
    cursor: pointer;
    color: #ffffff;
    padding: 5px 24px;
}

#form-chat-send button:hover {
    background-color: var(--primary-darker);
}

@media screen and (max-width: 470px) {
    #form-chat-send {
        display: flex;
        flex-direction: column;
    }

    .form-input-wrapper {
        padding: 0 0 5px 0;
    }

    .form-input-wrapper input {
        width: 100%;
    }
}
